<h3>確認画面</h3>
<%= form_with(model: @blog, local: true, url: blogs_path)do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <p>タイトル:<%= @blog.title %></p>
  <p>投稿文:<%= @blog.content %></p>
  <p>投稿画像:<%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %></p>
  <%= f.hidden_field :image_cache %>
  <%= f.submit "投稿する" %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>