<h1>一覧</h1>
<div><%= link_to '新規作成', new_blog_path, class: 'btn btn-default' %></div>
<% @blogs.each do |blog| %>
  <ul class="index col-md-4 col-xs-12">
    <div>
      <li>タイトル:<%= blog.title %></li>
    </div>
    <div>
      <li>投稿内容:<%= blog.content %></li>
    </div>
    <div>
      <li>投稿画像:<p><%= image_tag blog.image.url %></p></li>
    </div>
    <div>
      <li>投稿者:<%= blog.user.name %></li>
    </div>
    <div>
      <%= link_to '詳細', blog_path(blog.id) %>
      <% if blog.user_id == current_user.id %>
        <%= link_to "編集", edit_blog_path(blog.id) %>
        <%= link_to "削除", blog_path(blog.id), method: :delete, data:{confirm: '本当に削除しますか？'} %>
      <% end %>
    </div>
  </ul>
<% end %>