<h1>ユーザ編集</h1>
<% if @user.errors.any? %>
  <div id="error_explanation" >
    <ul>
      <% @user.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "名前" %>
  </div>
  <div>
    <%= f.email_field :email, placeholder: "メールアドレス" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "新しいパスワード" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "パスワード確認" %>
  </div>
  <div>
    <p><%= f.label :現在のプロフィール画像 %></p>
    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  </div>
  <div>
    <p><%= f.label :新しいプロフィール画像 %></p>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
    <%= f.submit "編集" %>
  <% end %>